rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /citizens/{document=**} {
      allow read, write: if true;
    }
    match /rtConfigs/{document=**} {
      allow read, write: if true;
    }
  }
}
